In [12]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [13]:
Q25 = df['orbital_period'].quantile(0.25)
Q75 = df['orbital_period'].quantile(0.75)
IQR = Q75-Q25
min = Q25 - IQR * 1.5
max = Q75 + IQR * 1.5
df_outlier = df[(df['orbital_period']<=min) | (df['orbital_period']>=max)]
df_outlier

                        method  number  orbital_period  mass  distance  year
6              Radial Velocity       1          1773.4  4.64     18.15  2002
14             Radial Velocity       3          2391.0  0.54     14.08  2001
15             Radial Velocity       3         14002.0  1.64     14.08  2009
19             Radial Velocity       5          4909.0  3.53     12.53  2002
32   Eclipse Timing Variations       1         10220.0  6.05       NaN  2009
..                         ...     ...             ...   ...       ...   ...
920               Microlensing       1          3500.0   NaN       NaN  2005
921               Microlensing       2          1825.0   NaN       NaN  2008
922               Microlensing       2          5100.0   NaN       NaN  2008
937                    Imaging       1        730000.0   NaN       NaN  2006
944              Pulsar Timing       1         36525.0   NaN       NaN  2003

[126 rows x 6 columns]

In [15]:
df_outlier['orbital_period'].sum()

1818772.582